*{
    -fx-background-main: #F1F4F8;
    -fx-background-secondary: #E1EAF9;
    -fx-background-tertiary: #FFFFFF;
    -fx-background-highlight: rgba(57, 210, 192, 0.4);
    -fx-text-primary: #143C4E;
    -fx-text-secondary: #57636C;
    -fx-text-success: #39D2C0;
    -fx-text-warning: #F9CF58;
    -fx-text-danger: #FF5963;
}

.page{
    -fx-background-color: -fx-background-main;
    -fx-text-fill: -fx-text-primary;
}

.main-panel{
    -fx-background-color: -fx-background-main;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(20,60,78), 10, 0, 0, 0);
}

.link-text{
    -fx-text-fill: #2D79CA;
    -fx-fill: #2D79CA;
}

TextField, PasswordField, DatePicker,ComboBox{
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(0,0,0,0.25);
    -fx-prompt-text-fill: derive(-fx-text-primary, 30%);
    -fx-pref-height: 40px;
}
TextArea{
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(0,0,0,0.25);
    -fx-prompt-text-fill: derive(-fx-text-primary, 30%);
}

.btn-connect{
    -fx-background-color: -fx-text-success;
    -fx-background-radius: 10px;
}

.btn-connect-google{
    -fx-background-color: #EE8B60;
}

.notif-pane{
    -fx-opacity: 0;
    -fx-background-radius: 20px;
    -fx-background-color: -fx-text-danger;
}

.notif-success{
    -fx-background-color: -fx-text-success;
}

.notif-text{
    -fx-alignment: center;
}