*{
    -fx-background-primary: #F1F4F8;
    -fx-background-secondary: #E1EAF9;
    -fx-background-tertiary: #FFFFFF;
    -fx-background-highlight: rgba(57, 210, 192, 0.4);
    -fx-text-primary: #143C4E;
    -fx-text-secondary: #57636C;
    -fx-text-success: #39D2C0;
    -fx-text-warning: #F9CF58;
    -fx-text-danger: #FF5963;
}

Label{
    -fx-fill: -fx-text-primary;
    -fx-text-fill: -fx-text-primary;
}

.approved{
    -fx-background-color: -fx-text-success;
}

.pending{
    -fx-background-color: -fx-text-warning;
}

.denied{
    -fx-background-color: -fx-text-danger;
}

.confirm-btn{
   -fx-background-color: -fx-text-success;
    -fx-background-radius: 5px;
}

.confirm-btn:hover{
    -fx-background-color: derive(-fx-text-success,35%);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-smooth: false;
}

.deny-btn{
    -fx-background-color: -fx-text-danger;
    -fx-background-radius: 5px;
}

.deny-btn:hover{
    -fx-background-color: derive(-fx-text-danger,35%);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-smooth: false;
}

.edit-btn{
    /*-fx-background-color: -fx-text-warning;*/
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.edit-btn:hover{
    /*-fx-background-color: derive(-fx-text-warning,35%);*/
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-smooth: false;
}

ComboBox {
    -fx-background-color: -fx-background-primary;
    -fx-border-radius: 5px;
}

ComboBox:hover {
    -fx-background-color: lightgray;    /* Change background on hover */
}

ComboBox:disabled {
    -fx-opacity: 0.5;                   /* Faded effect when disabled */
}

ComboBox:focused {
    -fx-border-color: blue;             /* Highlight border when focused */
}

.item-box{
    -fx-opacity: .8;
}