*{
    -fx-background-primary: #F1F4F8;
    -fx-background-secondary: #E1EAF9;
    -fx-background-tertiary: #FFFFFF;
    -fx-background-highlight: rgba(57, 210, 192, 0.4);
    -fx-text-primary: #143C4E;
    -fx-text-secondary: #57636C;
    -fx-text-success: #39D2C0;
    -fx-text-warning: #F9CF58;
    -fx-text-danger: #FF5963;
}

.error{
    -fx-border-color: -fx-text-danger;
    -fx-border-width: 1px;
}

.tooltip{
    -fx-text-fill: -fx-text-primary;
    -fx-background-color: -fx-background-secondary;
}

.swap-btn{
    -fx-background-color: transparent;
    -fx-effect: dropshadow( two-pass-box , rgba(0, 0, 0, 0.15) , 8, 0, 2, 2 );
    -fx-border-radius: 5px;
}

.swap-btn:hover{
    -fx-background-color: derive(#3742FA, 20%);
    -fx-text-fill: -fx-background-primary;
}

.selected-btn{
    -fx-background-color: #3742FA;
    -fx-text-fill: -fx-background-primary;
}

.link{
    -fx-fill: #2D79CA;
}